# Copy this file to .env.local and fill in your values
# Never commit .env.local to git

# Your Supabase instance URL
VITE_SUPABASE_URL=https://fhefiqxqmqfaiicgcgqf.supabase.co

# Your Supabase Anon Public Key
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoZWZpcXhxbXFmYWlpY2djZ3FmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NDc4ODgsImV4cCI6MjA5NDQyMzg4OH0.OCC0GPbfNslQRNGtmOR86c_fYrWlpvL9xT_l_XZf-5k
